<div class="d-contents <%= 'd-none' unless visible %>" id=<%= stage %>>
  <% tricks.each_with_index do |trick, i| %>
    <%=
      render(
        'tricks/trick',
        trick.merge(form: form)
      )
    %>
  <% end %>
</div>
