<div id="js-tricks" class="tricks-container <%= visible ? '' : 'd-none' %>">
  <% tricks.each_with_index do |trick, i| %>
    <%=
      render(
        'tricks/trick',
        trick.merge(form: form)
      )
    %>
  <% end %>
</div>
