<div class="card-container">
  <input hidden=true id="<%= input_id %>" name="game[<%= stage %>]" type="checkbox" value=<%= slug %> />
  <%= card_tag(slug, classes: classes, onclick: onclick) %>
</div>
