<div class="d-contents <%= "d-none" unless visible %>" id="js-kings" >
  <div class="kings-container center-container" >
    <% kings.each do |king| %>
      <%= render 'kings/king', king %>
    <% end %>
  </div>

  <%= render 'instruction', instruction: instruction, type: 'kings' %>
</div>
