<div class="center-container <%= visible ? '' : 'd-none' %>" id="js-score-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">tricks</th>
        <th scope="col">points</th>
        <th scope="col">team points</th>
        <th scope="col">game points</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% players.each do |player| %>
        <%= render 'scores/score', player %>
      <% end %>
    </tbody>
  </table>
</div>
