<div id="js-player-<%= position %>-bids">
  <% if @action == 'make_bid' %>
    <% bids.each do |bid| %>
      <h6 class="card-subtitle mb-2 text-muted"><%= bid %></h6>
    <% end %>
  <% end %>
</div>
