<div
  class="spinner-grow spinner-grow-sm text-secondary mb-1 <%= next_to_play ? '' : 'd-none' %> "
  role="status"
  id="js-player-<%= position %>-waiting"
>
  <span class="sr-only">Loading...</span>
</div>
