<div id="js-players" class='d-contents'>
  <% players.each do |player| %>
    <div class="player-container <%= player[:compass] %> align-self-start">
      <%= render 'games/players/player', player %>
    </div>
  <% end %>
</div>
