<div class="player-status">
  <%= name %>
  <%= render 'games/players/status/waiting', local_assigns %>
  <%= render 'games/players/status/role', local_assigns %>
  <%= render 'games/players/status/human_link', local_assigns %>
</div>
