<div class="player-container <%= compass %> align-self-end" id="js-player-<%= id %>-<%= stage %>">
  <% bids.each do |bid| %>
    <%= button_tag(bid, class: 'btn btn-dark', disabled: true) %>
  <% end %>
</div>
