<div class="navigation-buttons-container">
  <%= link_to fa_icon('random'), new_single_player_path, method: :post, class: 'btn btn-outline-dark', title: 'start new single player game' %>
  <%= link_to fa_icon('undo'), reset_path, method: :post, class: 'btn btn-outline-dark', title: 'reset game' %>
  <%= link_to fa_icon('home'), matches_path, class: 'btn btn-outline-dark' %>
</div>
