<div class="card-container hand">
  <input hidden=true id="<%= local_assigns[:input_id] %>" name="game[<%= stage %>][]" type="checkbox" value="<%= slug %>" />
  <%= card_tag(
      slug,
      onclick: local_assigns[:onclick],
      classes: "#{'pickable' if pickable} #{'illegal' if illegal}") %>
</div>
