<div class="row pl-4 pr-4 justify-content-center hand-container"  id="js-hand">
  <% hand.each do |card| %>
    <%= render 'hand/hand_card', card %>
  <% end %>
</div>
<div class="center-container">
  <%=
    form.submit(
      'put down cards',
      disabled: true,
      id: 'talon-submit',
      class: "btn btn-outline-dark new-game-button #{human_resolve_talon?(@game, @player) ? '' : 'd-none'}"
    )
  %>
</div>
