<div class="card-container hand">
  <input hidden=true id="hand_<%= slug %>" name="game[<%= stage %>][]" type="checkbox" value="<%= slug %>" />
  <%= card_tag(
      slug,
      onclick: onclick,
      classes: "#{'pickable' if pickable} #{'illegal' if pickable && !legal}") %>
</div>
