<div class="finished-buttons" id="js-finished">
  <div>
    <%= button_tag 'Hand scores', type: 'button', class: 'btn btn-primary', onClick: 'showScores()' %>
  </div>

  <div>
    <%= button_tag 'Show talon', type: 'button', class: 'btn btn-primary', onClick: 'showTalonGameEnd()' %>
  </div>

  <div>
    <%= link_to 'View scores', scores_path, method: :get, class: 'btn btn-success' %>
  </div>

  <div>
    <%= link_to 'Next hand', next_hand_path, method: :post, class: 'btn btn-success' %>
  </div>
</div>
