<div class="container">
  <div class="row justify-content-center">
    <% Bid.available_bids(@game, @game.human_player).each do |bid| %>
      <input hidden=true id="<%= contract %>" name="game[make_bid]" type="checkbox" value="<%= contract %>" />
      <%= contract_button(contract, bid.name) %>
    <% end %>
  </div>
</div>
