<div class="contract">
	<div class="won-bid">
    <div id="js-won-bid"><%= won_bid || 'Bidding...' %></div>
    <div class="card-container king-indicator" id="js-contract-king">
      <%= card_tag(called_king) if called_king %>
    </div>
	</div>
</div>
