<div class="container pr-4 pl-4 justify-content-center">
  <div class="row justify-content-center">
    <div class="card-container">
      <input hidden=true id="pick_king_club_8" name="game[pick_king]" type="checkbox" value="club_8" />
      <%= king_card_button(:club_8, hand) %>
    </div>
    <div class="card-container">
      <input hidden=true id="pick_king_diamond_8" name="game[pick_king]" type="checkbox" value="diamond_8" />
      <%= king_card_button(:diamond_8, hand) %>
    </div>
    <div class="card-container">
      <input hidden=true id="pick_king_heart_8" name="game[pick_king]" type="checkbox" value="heart_8" />
      <%= king_card_button(:heart_8, hand) %>
    </div>
    <div class="card-container">
      <input hidden=true id="pick_king_spade_8" name="game[pick_king]" type="checkbox" value="spade_8" />
      <%= king_card_button(:spade_8, hand) %>
    </div>
  </div>
</div>
