<div class="player-info">
  <%= "tricks #{info[:trick_count]}" %>
  <% if info[:lead] %>
    <p>LEAD</p>
  <% end %>
  <% if info[:points] %>
    <p><%= "points #{info[:points]}" %></p>
  <% end %>
</div>
