<% @players.each do |p| %>
  <div class="player-container <%= player_compass_position(p.position, @player.position) %> <%= p.name %>">
    <%= render 'player', player: p, remark: remarks[p.position] %>
  </div>
<% end %>
