<div class="score-container container pr-4 pl-4 justify-content-center" id="js-score-container">
  <div class="row justify-content-center">
    <div>
      <%= render 'player_score', player: players[:n] %>
    </div>
  </div>
  <div class="row justify-content-around">
    <div>
      <%= render 'player_score', player: players[:w] %>
    </div>
    <div>
      <%= render 'player_score', player: players[:e] %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div>
      <%= render 'player_score', player: players[:s] %>
    </div>
  </div>
</div>
