<input hidden=true id="talon_<%= index %>" name="game[pick_talon]" type="checkbox" value="<%= index %>" />
<% cards.each do |card| %>
  <div class="card-container">
    <%= card_tag(card.slug) %>
  </div>
<% end %>
