<div class="trick-container <%= visible ? '' : 'd-none' %>" id="js-trick-<%= trick_index %>">
  <% cards.each_with_index do |card, position| %>
    <div class="card-container trick-card-container position-<%= position %>">
        <% if card %>
          <%= card_tag(card.slug, classes: "trickcard", landscape: [1,3].include?(position)) %>
        <% end %>
    </div>
  <% end %>
</div>
