<div id="js-tricks" class="tricks-container <%= visible ? '' : 'd-none' %>">
  <% tricks.each_with_index do |trick, i| %>
    <%=
      render(
        'trick',
        trick: trick,
        visible: @visible_trick_index == i,
        form: form
      )
    %>
  <% end %>
</div>
