<div class="trick-container <%= visible ? '' : 'd-none' %>" id="js-trick-<%= trick_index %>">
  <% cards.each do |c| %>
    <% compass = c ? player_compass_position(c.player.position, @player.position) : '' %>
    <div class="card-container trick-card-container <%= compass %>">
      <% if c %>
        <%= card_tag(c.slug, classes: "trickcard", landscape: ['east', 'west'].include?(compass)) %>
      <% end %>
    </div>
  <% end %>
</div>
