<div class="trick-container" id="js-trick-container">
  <% cards.each do |player, card| %>
    <div class="trick-card-container">
      <div class="card-container">
        <% if card %>
          <%= card_tag(card.slug, classes: "trickcard", landscape: [1,3].include?(player.position)) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
