<div id="js-tricks" class="tricks-container <%= visible ? '' : 'd-none' %>">
  <% tricks.each_with_index do |trick, i| %>
    <%=
      render(
        'trick',
        trick: trick,
        visible: show_penultimate ? i == 1 : i == 0,
        form: form
      )
    %>
  <% end %>
</div>
