<div class="container">
  <div>
    <h3>Waiting for <%= @missing_players %> more players...</h3>
  </div>
  <div>
    <%= link_to "New Game", new_match_path, class: "btn btn-outline-dark" %>
  </div>
</div>
