<div class="container">
  <input hidden=true id="js-reload-on-match-ready" data-match-id=<%= @match.id %> data-player-id=<%= @player.id %>/>
  <div>
    <h3>Waiting for <%= @missing_players %> more players...</h3>
  </div>
  <div>
    <%= link_to "New Game", new_match_path, class: "btn btn-outline-dark" %>
  </div>
</div>
