<div class="container">
  <input hidden=true id="reload-on-match-msg" data-match-id=<%= @match.id %> />
  <div>
    <h3>Waiting for <%= @missing_players %> more players...</h3>
  </div>
  <div>
    <%= link_to "New Game", new_match_path, class: "btn btn-outline-dark" %>
  </div>
</div>
