<div class="container">
  <h1>Start a new game for <%= @player.name %></h1>
  <%= bootstrap_form_for(@match) do |f| %>
    <%= f.select :human_count, @human_count_select, label: "Game setup" %>
    <%= f.submit "create game", class: "btn btn-primary" %>
  <% end %>
</div>
