@import '../grid';
@import '../colours';

.container {
  @include instruction;
  position: relative;
  display: flex;
}
.textbox {
  z-index: 1;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  padding: 5px 10px;
  background-color: transparent;
  font-weight: bold;
  color: $instruction-colour;
  border: 3px solid $instruction-colour;
  p {
    margin: 0;
  }
}

.progressBarContainer {
  position: absolute;
  width: 100%;
}

.progressBar {
  z-index: -1;
  height: 4rem;
  border-radius: 20px;
  div {
    background-color: $dull-light-green;
  }
}
