<% content_tag(
  :div,
  onclick: "submitGame(talon_#{index}",
  disable: !pickable,
  class: talon_half_classes(pickable, picked),
   id: "js-talon-half-#{index}"
) do %>
  <input hidden=true id="talon_<%= index %>" name="game[pick_talon]" type="checkbox" value="<%= index %>" />
  <% cards.each do |card| %>
    <div class="card-container">
      <%= card_tag(card[:slug]) %>
    </div>
  <% end %>
<% end %>
