<div class="container mt-5">
  <p class="lead">
  A playable web-based version of Königsrufen, made by me, Kat. You can <%= link_to 'play', play_path %> against other humans, or against the bots, who are currently very stupid.
  <p>

  <p>
  Königsrufen is an Austrian trick taking card game for 4 players. Each game consists on an open ended number of hands, which each has a bidding phase and a playing phase. It is played with a Tarock deck. It is a silly game, with a lot of rules, and is fun even when played quite badly.
  </p>
  <p>
  The version you can play on this site uses the rules compiled by Stompy Dan <a href="https://stompydan.net/koenigsrufen">here</a>.
  </p>
</div>
