.bid-buttons-container, .announcement-buttons-container, .kings-container, .talon-container, .center-container {
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
  align-self: center;

  padding: 0 4rem;

  .submit-announcements-button {
    background-color: white;
    &:hover {
      color: red;
      &:disabled {
        color: #343a40;
      }
    }
  }
}

.announcement-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.announcement-button {
  width: 8rem;
  margin: 1rem;
}
