.bid-buttons-container, .talon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 0.4rem;

  .submit-announcements-button {
    background-color: white;
    &:hover {
      color: green;
      &:disabled {
        color: #343a40;
      }
    }
  }
}

.announcement-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.announcement-button {
  width: 8rem;
  margin: 1rem;
}
