$board-column-start: 2;
$board-row-start: 3;

$north-board-column: 2;
$north-board-row: 1;

$south-board-column: 2;
$south-board-row: 3;

$east-board-column: 3;
$east-board-row: 2;

$west-board-column: 1;
$west-board-row: 2;

@mixin board {
  grid-column: $board-column-start / span 3;
  grid-row: $board-row-start / span 3;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 6.875rem);
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}

@mixin board-north {
  grid-row: $north-board-row;
  grid-column: $north-board-column;
}

@mixin board-east {
  grid-row: $east-board-row;
  grid-column: $east-board-column;
}

@mixin board-south {
  grid-row: $south-board-row;
  grid-column: $south-board-column;
}

@mixin board-west {
  grid-row: $west-board-row;
  grid-column: $west-board-column;
}
