// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  max-width: 100%;
  max-height: 100%;
  padding: 2px;
  .illegal {
    &:hover {
      border: 2px solid red;
    }
  }
}

card.pickable, .talon-container{
  &:hover {
    z-index: 1;
    border: 2px solid green;
    border-radius: 5px;
  }
}

.talon-container {
  display: flex;
}

.trickcard {
  max-width: 58px;
}

.card-container {
  height: 6.875rem;
  width: 3.75rem;
}

.card-container.hand {
  margin-left: -2rem;
}


