// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // display: grid;
  // justify-items: center;
  // grid-gap: 10px;
  // grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
  // grid-template-rows: auto;
  // justify-items: center;
  // align-items: center;

  background-color: rgba(51, 102, 0, 0.2);
}

.info-card {
  background-color: transparent;
  position: absolute;
  right: 4rem;
  top: 2rem;
  .card-body {
    display: flex;
    align-items: center;
  }
}

.new-game-button-container {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
}

.message {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 20rem;
  p {
    margin-bottom: 0;
  }
  p:last-of-type {
    font-size: 1.4rem;
    color: green;
  }
}

.game-container {
  grid-column: 1 / span 5;
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  grid-template-columns: 1fr 20.625rem 1fr;
  grid-template-rows: 1fr 20.625rem 1fr
}

