@import 'grid';

.instruction {
  @include instruction;
  // align-self: start;
  text-align: center;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
  font-weight: bold;
  color: blue;
  border: 3px solid blue;

  &.instruction-tricks {
    @include instruction-tricks;
  }

  &.instruction-pick_talon, &.instruction-resolve_talon, &.instruction-kings {
    @include instruction-top-center;
  }
}
