@import 'grid';
@import 'colours';

.instruction {
  @include instruction;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
  font-weight: bold;
  color: $instruction-colour;
  border: 3px solid $instruction-colour;

  &.instruction-tricks {
    @include instruction-tricks;
  }

  &.instruction-pick_talon, &.instruction-resolve_talon, &.instruction-kings {
    @include instruction-top-center;
  }
}
