$row-start: 2;

.player-container {
  .card {
    background-color: transparent;
    border: none;
  }
}

// human player - south
.player-container {
  &.number-1 {
    grid-column: 3;
    grid-row: $row-start + 4;;
  }
}

// east
.player-container {
  &.number-2 {
    grid-column: 5;
    grid-row: $row-start + 2;;
    align-self: center;
  }
}

// north
.player-container {
  &.number-3 {
    grid-column: 3;
    grid-row: $row-start;
    align-self: end;
  }
}

// west
.player-container {
  &.number-4 {
    grid-column: 1;
    grid-row: $row-start + 2;
    align-self: center;
  }
}
