.points-container {
  display: none;
  font-weight: normal;
  td {
    color: red;
    div {
      display: flex;
      justify-content: center;
    }
  }

  td.forehand {
    text-decoration: underline;
  }

  td.declarer {
    font-weight: bold;
    div {
      border-radius: 50%;
      border: 1px solid black;
    }
  }

  td.winner {
    color: green;
  }
  
  td.game-shorthands {
    display: flex;
    color: black;
    .bid-shorthand {
      &.off {
        text-decoration: line-through;
      }
      &.vs-three {
        &:after {
          content: "3";
          vertical-align: sub;
          font-size: smaller;
        }
      }
    }
    .announcement-shorthands {
      display: inline-block;
      span {
        margin-left: 2px;
        &.declared {
          text-decoration: underline;
        }
        &.off {
          text-decoration: line-through;
        }
        &.defence {
          &:after {
            content: "D";
            vertical-align: super;
            font-size: smaller;
          }
        }
      }
    }
  }
}

