@import 'grid';

.talon-container {
  @include talon;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.talon-half-container {
  display: flex;
  padding: 1rem;
  margin-left: 6px;
}

.talon-half-container.pickable:hover {
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
}

.talon-half-container.picked {
  margin-left: 0;
  border-radius: 5px;
  border: 6px solid green;
}

.picked-putdowns {
  height: 6.875rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  grid-gap: 0.4rem;
  align-self: center;
  margin-bottom: 1rem;
}

.put-down-cards-button {
  content: 'bbb'

}
