.talon-container {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}

.talon-half-container {
  display: flex;
}

.talon-half-container.pickable:hover {
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid green;
}

.talon-half-container.picked {
  border-radius: 5px;
  border: 2px solid green;
}
