.talon-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.talon-half-container {
  display: flex;
  padding: 1rem;
}

.talon-half-container.pickable:hover {
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
}

.talon-half-container.picked {
  border-radius: 5px;
  border: 6px solid green;
}

.picked-putdowns {
  height: 6.875rem;
  display: flex;
}

.put-down-cards-button {
  content: 'bbb'

}
