@import 'board';

.trick-container {
  @include board
}

.trick-card-container {
  &.south {
    @include board-south;
  }
  &.east {
    @include board-east;
    height: 3.75rem;
    width: 6.875rem;
    align-self: center;
  }
  &.north {
    @include board-north
  }
  &.west {
    @include board-west;
    height: 3.75rem;
    width: 6.875rem;
    align-self: center;
  }
}

.trick-button {
  justify-self: right;
  align-self: end;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
