@import 'grid';

.trick-container {
  display: contents;
}

.trick-card-container {
  align-self: center;
  justify-self: center;
  &.south {
    @include board-south;
  }
  &.east {
    @include board-east;
    height: 3.75rem;
    width: 6.875rem;
  }
  &.north {
    @include board-north
  }
  &.west {
    @include board-west;
    height: 3.75rem;
    width: 6.875rem;
  }
}
