<div class="speech-bubble <%= compass %> <%= 'd-none' unless messages.present? %>" id="js-player-<%= id %>-message">
  <% messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>
</div>
