<div
  class="player-spinner spinner-grow spinner-grow-sm text-secondary <%= 'spinner-invisible' unless next_to_play %>"
  role="status"
  id="js-spinner-player-<%= id %>"
>
  <span class="sr-only">Loading...</span>
</div>
