<div
  class="spinner-grow spinner-grow-sm text-secondary mb-1 <%= 'd-none' unless next_to_play %>"
  role="status"
  id="js-spinner-player-<%= id %>"
>
  <span class="sr-only">Loading...</span>
</div>
