<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Königsrufen
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Players', players_path, class: 'dropdown-item' %>
  </div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Rules', 'https://stompydan.net/koenigsrufen', class: 'dropdown-item' %>
  </div>
</li>
